*{
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

#checking{
    width: 1200px;
    height: 75px;
    margin: auto;
    font-size: 20px;
    padding-left: 50px;
}

.navbarNav{
    width: 400px;
    float: right;
    height: 70px;
}

#abc{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}

.nav-item{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
    margin-right: 100px;
}

.nav-link{
    text-decoration: none;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-size: 50px;
}

.banner{
    min-height: 170px;
    padding: 60px 0px;
}

.auto-box{
    position: static;
    max-width: 1260px;
    padding: 0px 15px;
    margin: 0 auto;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}

.left{
    z-index: 3;
}

.page-title{
    position: relative;
    background: #f1faff;
}

.auto-box-clearfix{
    padding-left: 25px;
}

h1{
    position: relative;
    line-height: 40px;
    font-weight: 400;
    font-size: 30px;
    padding: 30px 0px;
    margin: 0px;
    color: #233145;
    border-bottom: 1px solid #d7e4ec;
}

.body{
    
    background-color: #C2FBFF;
}

.left-content{
    position: relative;
    width: 70%;
    margin-top: 60px;
    padding-right: 60px;
    float: left;
    padding-bottom: 80px;
}

.main-box{
    background: #ffffff;
}

.auto-main{
    position: static;
    max-width: 1260px;
    padding: 0px 15px;
    margin: 0 auto;
}

.post{
    position: relative;
    color: #5a7182;
    font-size: 18px;
    margin-bottom: 80px;
}

.para{
    margin: 0px 0 10px;
    padding-top: 100px;
    margin-left: 50px;
    margin-bottom: 0px;
    font-size: 25px;
}

#menu-bar{
    padding: 0px;
}

.support{
    width: 100%;
}

.tab-pane{
    display: block;
}

/* div{
    display: block;
} */

.nav_nav_tabs{
    padding-left: 0;
    list-style: none;
}

ul{
    margin-top: 0;
    margin-bottom: 10px;
}

a{
    border: 1px solid #d7e4ec;
    border-bottom-color: transparent;
}

.active{
    background-color: #F1FAFF;
}

/* .tab-pane{
    display: none;
} */

.faq_filter{
    height: auto;
    margin: 10px 0;
    padding-left: 5px;
    width: 100%;
}

.faq_item{
    float: left;
}

table{
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

tbody{
    display: table-row-group;
    vertical-align: middle;

}

tr{
    display: table-row;
    vertical-align: inherit;
}

select{
    color: #8ea2b1;
    width: 50%;
    padding: 10px 15px;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    line-height: 24px;
    border: 1px solid #d7e4ec;
    border-radius: 3px;
    text-transform: none;
    margin: 0;
    font: inherit;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #C2FBFF;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6em;
    font-weight: 300;
}

form{
    display: block;
    margin-top: 0em;
}

.label-info{
    background-color: #5bc0de;
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    vertical-align: baseline;
    border-radius: 0.25em;
}

input{
    font-family: Arial;
    font-size: 1.5rem;
    position: relative;
    line-height: 24px;
    color: #233145;
    padding: 13px 15px;
    width: 50px;
    border: 1px solid #d7e4ec;
    border-radius: 3px;
}

code{
    padding: 2px 4px;
    font-size: 1.5rem;
    color: #c7254e;
    white-space: nowrap;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", 'Courier New', Courier, monospace;
}

textarea{
    font-family: Arial;
    font-size: 50%;
    position: relative;
    line-height: 24px;
    color: #233145;
    padding: 13px 15px;
    width: 100%;
    border: 1px solid #d7e4ec;
    border-radius: 3px;
}
/* Define the hover animation */
.pagefooter img {
    transition: transform 0.3s ease;
}

.pagefooter img:hover {
    transform: scale(1.2);
}

.formregion{
    display:grid;
    grid-template-columns: 2fr 1fr;
}

.formforinput{
    grid-row:1/3;
    padding: 13px 15px;
}

form{
    padding: 13px 15px;
}

.card{
    margin: 30px 10px;
}

.col{
    padding:0px 30px;
    margin: 0px 40px;
}

.copyrightsession{
    background-color:rgb(1, 1, 50);
    color: beige;
    padding:40px;
    text-align: center;
}

.feeds{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #233145;
    color: #5bc0de;
    padding: 100px 20px;
}

.row_new{
    background-color: #5bc0de;
    color: #233145;
    display:grid;
}

.logosup{
    background-color:black;
}

.sidelist{
    margin:10px 50px;
    font-weight: 200;
    font-size: 1.5rem;
}

.ticket-system{
    background-color: #020250;
    color: beige;
    padding: 50px;
    
}

img{
    margin-left: 100px;
}

#checking{
    margin-left: none;
    font-size: 2rem;
    padding-left: 2px;
}

.btn-outline-primary{
    width: 150px;
    height: 50px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    margin-left: 10px;
}

.btn-outline-secondary{
    width: 150px;
    height: 50px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    margin-left: 10px;
}

.check-box{
    width: 50px;
    font-size: 25px;
}

.h4-content{
    color: #5bc0de;
}

/* .name-input{
    margin-top: 10px;
} */

.email-input{
    margin-top: 10px;
}

.subject-input{
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-group-item:hover {
    background-color: orange;
    cursor: pointer;
}

.container-fluid{
    /* background-color:#7785AC; */
    background-color: #8294C4;
}

.form-control me-2{
    width: 100px;
}
