@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* body{
    display: flex;
} */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

.card--container {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    /* align-items: center; */
}

.card--wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: center;
    /* align-items: center; */
    margin-left: 12rem;
    margin-right: 10rem;

}

.main--title {
    color: rgba(113, 99, 186, 255);
    /* padding-bottom: 110px; */
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.task--board {
    background: rgb(229, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.task--board:hover {
    transform: translateY(-5px);
}

.card--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tasks {
    display: flex;
    flex-direction: column;
}

.assigned-tasks {
    font-size: 25px;
    font-weight: 600;
}

.assigned-value {
    font-size: 24px;
    font-family: "Courier New", 'Courier New', Courier, monospace;
    font-weight: 600;
}

.light-red {
    background: rgb(167, 95, 95);
}

.light-purple {
    background: rgb(167, 95, 159);
}

.light-green {
    background: rgb(52, 141, 52);
}


.light-blue {
    background: rgb(48, 48, 141);
}

.tabular--wrapper {
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}

.table-container {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 2%;
}

thead {
    background: rgba(113, 99, 186, 255);
    color: #fff;
}

th {
    padding: 15px;
    text-align: center;
}

tbody {
    background: #f2f2f2;
}

td {
    padding: 15px;
    font-size: 14px;
    color: #333;
    border: 1px solid #dddddd;
    text-align: center;
    display: inline-flexbox;
}

tr:nth-child(even) {
    background: #fff;

}

#TotalTask th,
#TotalTask td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

.navbar {
    max-width: 100%;
}
#Assigned th,
#Assigned td{
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}
#Unassigned th,
#Unassigned td{
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}
#TicketHistory th,
#TicketHistory td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}